<!--
Parameters:
    id - (Required) Target ID
    username - (Required)
    width - (Optional) width
    height - (Optional) height
-->

{{ if .IsNamedParams }}
<iframe src="https://discord.com/widget?id={{ .Get "id" }}&theme=dark&username={{ .Get "username" }}"
    width="{{ default "80%" (.Get "width" ) }}" height="{{ default "400px" (.Get "height" ) }}"
    allowtransparency="true" frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
</iframe>
{{ else }}
<div class="align-center">
<iframe src="https://discord.com/widget?id={{ .Get 0 }}&theme=dark&username={{ .Get 1 }}" width="80%" height="400px"
    allowtransparency="true" frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
</iframe>
</div>
{{ end }}
